<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href='{% static "css/mystyle.css" %}'> -->
</head>
<body>
    <h1>Hey, we found something!</h1>

    <div class="djangtwo">

        {% if results %}
        <div class="search results">
            {% for mytuple in results %}

                {{ mytuple.0 }}
                {{ mytuple.1 }}
        </div>
        <p></p>
            {% endfor %}



            {% else %}
            <p>NOTHING FOUND</p>
            {% endif %} -->

     </div>
    
</body>
</html>